<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<div class="mb-3">
    <br>
    <button routerLink="color/add" class="btn btn-primary">Renk Ekle</button>
    <br>
    <label for="filterText" class="form-label">Renk ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Arama ifadesi giriniz">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} aradınız
</div> 
<table *ngIf="dataLoaded==true" class="table">
    <thead>
        <tr><th style="background-color: crimson;">Renkler</th></tr>
    </thead>

    <tr *ngFor="let color of colors | filterColor:filterText" >
        <ul class="list-group" style="background-color: azure;">
            <li  (click)="setCurrentColor(color)" routerLink="/cars/color/{{color.colorId}}" [class]="getCurrentColorClass(color)">{{color.colorName}} 
                <button routerLink="color/update/{{color.colorId}}/{{color.colorName}}" class="btn btn-warning" style="width: fit-content;">Güncelle</button>
            </li>
            
            
        </ul>
        
    </tr>
</table>