<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Giriş Yap</h2>
                <p class="text-white-50 mb-5">Lütfen email adresinizi ve şifrenizi girin.</p>
                <form [formGroup]="userLoginForm">
                    <div class="form-outline form-white mb-4">
                    <input type="email" id="email" class="form-control form-control-lg" formControlName="email" autocomplete="email" />
                    <label class="form-label" for="email">Email</label>
                    </div>
    
                    <div class="form-outline form-white mb-4">
                    <input type="password" id="password" class="form-control form-control-lg" formControlName="password" autocomplete="current-password" />
                    <label class="form-label" for="password">Şifre</label>
                    </div>
                </form>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Şifreni mi unuttun?</a></p>
  
                <button class="btn btn-outline-light btn-lg px-5" (click)="login()">Giriş Yap</button>
  
                
  
              </div>
  
              <div>
                <p class="mb-0">Hesabınız yok mu? <a routerLink="../register" class="text-white-50 fw-bold">Kaydol</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>