<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<table *ngIf="dataLoaded==true" class="table table-success">
    <thead>
        <tr>
            <th>Marka Adı</th>
            <th>Model Adı</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Gunluk Ucreti</th>
        </tr>
    </thead>

    <tr>
        <td >{{car.brandName}}</td>
        <td >{{car.carName}}</td>
        <td >{{car.colorName}}</td>
        <td >{{car.modelYear}}</td>
        <td >{{car.dailyPrice}}</td>
      
    </tr>
    <div *ngFor="let image of images">
        <img [src]="imagePathPrefix + image.imagePath" width="600px" height="250px">
    </div>
    
</table>