<div class="container mt-5" *ngIf="dataLoaded">
    <h3>Kiraladığınız Araçlar</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Kira No</th>
                <th scope="col">Marka</th>
                <th scope="col">Model</th>
                <th scope="col">Vites Türü</th>
                <th scope="col">Yakıt Türü</th>
                <th scope="col">Kiralama Tarihi</th>
                <th scope="col">Dönüş Tarihi</th>
                <th scope="col">Teslim Edilen Tarih</th>
                <th scope="col">Toplam Fiyat</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rental of rentals ">
                <td>{{rental.rentId}}</td>
                <td>{{rental.brandName}}</td>
                <td>{{rental.modelName}}</td>
                <td>{{rental.gearTypeName}}</td>
                <td>{{rental.fuelTypeName}}</td>
                <td>{{rental.rentDate}}</td>
                <td>{{rental.returnDate}}</td>
                <td>{{rental.returnDateActual}}</td>
                <td>{{rental.totalPrice}}</td>
            </tr>
            
        </tbody>
    </table>
</div>