<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded == true" class="table table-success">
  <thead>
    <tr>
      <th>Marka Adı</th>
      <th>Model Adı</th>
      <th>Renk</th>
      <th>Vites Tipi</th>
      <th>Yakıt Tipi</th>
      <th>Araç Sınıfı</th>
      <th>Konumu</th>
      <th>Model Yılı</th>
      <th>Findex Puanı</th>
      <th>Açıklama</th>
      <th>Gunluk Ucreti</th>
    </tr>
  </thead>

  <tr>
    <td>{{ car.brandName }}</td>
    <td>{{ car.modelName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.gearTypeName }}</td>
    <td>{{ car.fuelTypeName }}</td>
    <td>{{ car.className }}</td>
    <td>{{ car.locationName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.findexScore }}</td>
    <td>{{ car.description }}</td>
    <td>{{ car.dailyPrice | currency: '₺' }}</td>
  </tr>
  <div *ngFor="let image of images">
    <img
      [src]="imagePathPrefix + image.imagePath"
      width="600px"
      height="250px"
    />
  </div>

  <div style="margin-block: 20px;" >
    <label for="rentDate">Alacağınız Gün:</label>
    <input  style="margin-left: 20px" type="datetime-local"  name="rentDate" [(ngModel)]="rentDate"/>

 

    <label style="margin-left: 20px" for="returnDate">Geri Getirelecek Gün:</label>
    <input style="margin-left: 20px" type="datetime-local" name="returnDate" [(ngModel)]="returnDate"/>

   

    <button (click)="saveRentalPostInformation()" class="btn btn-primary" type="button"style="margin-left: 20px" >Kirala</button>
  </div>
</table>
