<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<!--<table *ngIf="dataLoaded == true" class="table table-success">
  <thead>
    <tr>
      <th>Marka Adı</th>
      <th>Model Adı</th>
      <th>Renk</th>
      <th>Vites Tipi</th>
      <th>Yakıt Tipi</th>
      <th>Araç Sınıfı</th>
      <th>Konumu</th>
      <th>Model Yılı</th>
      <th>Findex Puanı</th>
      <th>Açıklama</th>
      <th>Gunluk Ucreti</th>
    </tr>
  </thead>

  <tr>
    <td>{{ car.brandName }}</td>
    <td>{{ car.modelName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.gearTypeName }}</td>
    <td>{{ car.fuelTypeName }}</td>
    <td>{{ car.className }}</td>
    <td>{{ car.locationName }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.findexScore }}</td>
    <td>{{ car.description }}</td>
    <td>{{ car.dailyPrice | currency: '₺' }}</td>
  </tr>
  <div *ngFor="let image of images">
    <img
      [src]="imagePathPrefix + image.imagePath"
      width="600px"
      height="250px"
    />
  </div>
-->

<div class="col-md-10">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="!imageLength">
        <img
          [src]="imagePathPrefix + defaultImage.imagePath"
          class="d-block w-100"
          alt="Resim"
          width="720"
          height="360"
        />
      </div>
      <div
        *ngIf="imageLength"
        id="resim-slayt"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" *ngFor="let image of images">
            <img
              [ngSrc]="imagePathPrefix + image.imagePath"
              class="d-block w-100"
              alt="Resim"
              width="720"
              height="360"
            />
          </div>
        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#resim-slayt"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon"
            style="background-color: orange"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Önceki</span>
        </button>

        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#resim-slayt"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon"
            style="background-color: orange"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Sonraki</span>
        </button>
      </div>
    </div>

    <div class="col-md-6" *ngIf="dataLoaded">
      <ul class="list-group">
        <li class="list-group-item">
          <h6>Aracın Alınacağını ve Bırakılacağı Yer</h6>
          {{ car.locationName }}
        </li>
        <li class="list-group-item">
          <h6>Aracın Sınıfı</h6>
          {{ car.className }}
        </li>
        <li class="list-group-item">
          <h6>Marka</h6>
          {{ car.brandName }}
        </li>
        <li class="list-group-item">
          <h6>Model</h6>
          {{ car.modelName }}
        </li>
        <li class="list-group-item">
          <h6>Vites Tipi</h6>
          {{ car.gearTypeName }}
        </li>
        <li class="list-group-item">
          <h6>Renk</h6>
          {{ car.colorName }}
        </li>
        <li class="list-group-item">
          <h6>Yakıt Tipi</h6>
          {{ car.fuelTypeName }}
        </li>
        <li class="list-group-item">
          <h6>Günlük Ücret</h6>
          {{ car.dailyPrice | currency : "₺" }}
        </li>
        <li class="list-group-item">
          <h6>Gerekli Findex Puanı</h6>
          {{ car.findexScore }}
        </li>
        <li class="list-group-item">
          <h6>Araç Hakkında</h6>
          {{ car.description }}
        </li>
      </ul>
      <br /><br /><br />
    </div>
  </div>
</div>
<div style="margin-block: 20px">
  <button
    (click)="saveRentalPostInformation()"
    class="btn btn-primary"
    type="button"
    style="margin-left: 20px"
  >
    Kirala
  </button>
</div>
<!--</table>-->
