<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-primary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

  <div>
    <label for="colors">Renkler:</label>
    <select id="colors" name="colors" [(ngModel)]="selectedColorId" >
      <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
      
    </select>
    
    <br><br>
    
    <label for="brands">Markalar: </label>
    <select id="brands" name="brands" [(ngModel)] = "selectedBrandId">
      <option *ngFor="let brand of brands" [value] ="brand.brandId">{{brand.brandName}}</option>
    
    </select>
    <br><br>
    <button class="btn btn-primary" type="button" routerLink="/cars/color/{{ selectedColorId }}/brand/{{selectedBrandId}}">Filtrele</button>
    <button class="btn btn-primary" style="margin-left:20px" routerLink="../car/add" >Araba Ekle</button>
  </div>  
<div class="mb-3">
  <label for="filterText" class="form-label" >Araba ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Arama ifadesi giriniz"
  />
</div>
<div *ngIf="filterText.length > 2" class="alert alert-success">
  {{ filterText }} aradınız
</div>
<table *ngIf="dataLoaded == true" class="table table-success">
  <thead>
    <tr>
      <th>Marka Adı</th>
      <th>Model Adı</th>
      <th>Renk</th>
      <th>Vites Tipi</th>
      <th>Yakıt Tipi</th>
      <th>Araç Sınıfı</th>
      <th>Konumu</th>
      <th>Model Yılı</th>
      <th>Findex Puanı</th>
      <th>Açıklama</th>
      <th>Gunluk Ucreti</th>
      <th>Detaylar</th>
      <th>Güncelle</th>
      </tr>
  </thead>

  <tr
    *ngFor="let car of cars | filterCar:filterText"
    
  >
  <td>{{ car.brandName }}</td>
  <td>{{ car.modelName }}</td>
  <td>{{ car.colorName }}</td>
  <td>{{ car.gearTypeName }}</td>
  <td>{{ car.fuelTypeName }}</td>
  <td>{{ car.className }}</td>
  <td>{{ car.locationName }}</td>
  <td>{{ car.modelYear }}</td>
  <td>{{ car.findexScore }}</td>
  <td>{{ car.description }}</td>
  <td>{{ car.dailyPrice | currency: '₺' }}</td>
    <td><button (click)="setCurrentCar(car)" routerLink="/cars/{{ car.carId }}" class="btn btn-warning">Detaylar</button></td>
    <td><button  routerLink="/car/update/{{car.carId}}" class="btn btn-warning" >Güncelle</button></td>
  </tr>
</table>
