
  <div class="container" style="background-color: rgb(148, 255, 121);">
  
    <div style="margin-block: 20px; text-align: center; margin: 20%;"  >
      <label for="rentDate">Alacağınız Gün:</label>
      <input  style="margin-left: 20px" type="datetime-local"  name="rentDate" [(ngModel)]="rentDate"/>

  

      <label style="margin-left: 20px" for="returnDate">Geri Getirelecek Gün:</label>
      <input style="margin-left: 20px" type="datetime-local" name="returnDate" [(ngModel)]="returnDate"/>

    

      <button class="btn btn-primary" type="button"style="margin-left: 20px" routerLink="cars" (click)="setCarDetailFilter()" >Araba Ara</button>
    </div>
    

    
  </div>
